# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
bun = "1.3.8"
node = "25.6.0"
"npm:semantic-release" = "25.0.3"
biome = "2.2.7"
actionlint = "1.7.10"
# required for actionlint
shellcheck = "0.11.0"
ghalint = "1.5.5"
pinact = "3.9.0"
taplo = "0.10.0"
prettier = "3.8.1"
yamlfmt = "0.21.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.9.30"
yamllint = "1.38.0"
"npm:renovate" = "43.2.1"
cspell = "9.6.2"
lychee = "0.22.0"
typos = "1.43.1"
"npm:ignore-sync" = "8.0.0"
json5 = "2.2.3"
"npm:jschema-validator" = "1.0.27"

[settings]
experimental = true
auto_install_disable_tools = ["npm:renovate"]

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni
{% endif %}
"""
