# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
bun = "1.3.3"
node = "25.2.1"
"npm:semantic-release" = "25.0.2"
biome = "2.2.7"
actionlint = "1.7.9"
# required for actionlint
shellcheck = "0.11.0"
ghalint = "1.5.3"
pinact = "3.4.4"
taplo = "0.10.0"
prettier = "3.6.2"
yamlfmt = "0.20.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.9.13"
yamllint = "1.37.1"
"npm:renovate" = "42.24.0"
cspell = "9.3.2"
lychee = "0.21.0"
typos = "1.39.2"
"npm:ignore-sync" = "8.0.0"
json5 = "2.2.3"
"npm:jschema-validator" = "1.0.25"

[settings]
experimental = true
auto_install_disable_tools = ["npm:renovate"]

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni
{% endif %}
"""
