name: Release

on:
  push:
    branches:
      - main

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: write # for GitHub Release
      issues: write # for commenting on issues
      pull-requests: write # for commenting on pull requests

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # fetch all history for semantic-release
          persist-credentials: false

      - name: Install mise
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: 2025.11.7
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: semantic-release

  actions-timeline:
    needs:
      - release
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
